<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe - Cookbook</title>

    <!-- Adding style to the page -->
    <%- include('../views/partials/head') %>
  </head>
  <body>
    <!-- Adding header to the page -->
    <%- include('../views/partials/header') %>
    <main class="main-section">
      <center><h1 class="main-section-title"><%= details.name %></h1></center>

      <div class="recipe-details">
        <center><img src="<%= details.image %>" alt="<%= details.name %>"></center>

        <center><p class="recipe-owner">By <%= details.owner.name %></p></center>

        <div>
          <label for="ingredients"><b>Ingredients: </b></label>
          <ul name="ingredients">
            <% details.ingredients.forEach((ingredient) => { %>
              <li><%= ingredient %></li>
            <% }); %>
          </ul>
        </div>

        <p><b>Instructions: </b><br><%= details.instructions %></p>

        <% if(user._id === details.owner._id.toString()) { %>
          <div class="recipe-options">
            <button type="button" class="signin-signup-button" onclick="window.location.href='<%= details._id %>/edit';">Edit</button>
            <form action="/recipes/<%= details._id %>/delete?_method=DELETE" method="POST">
              <button class="signin-signup-button delete-button">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
